<article class="card bg-light mb-3" style="max-width: 18rem;">
  <main class="card-body">
    <p class="card-text"><%= comment.body %></p>
  </main>
  
  <footer class='card-footer'>
    <%= render 'shared/creator_details', obj: comment %>
  </footer>
</article>
